/* --- RESET --- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* --- ROOT VARIABLES --- */
:root {
  --background: #fff;
  --backgroundTop: hsl(225, 100%, 98%);
  --cardBg: hsl(227, 47%, 96%);
  --text: hsl(228, 12%, 44%);
  --numbers: hsl(230, 17%, 14%);
  --borderYT: hsl(348, 97%, 39%);
  --borderIG: hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
  --borderTW: hsl(203, 89%, 53%);
  --borderFB: hsl(208, 92%, 53%);
  --toggle: hsl(230, 22%, 74%);

  --inspect: solid red 1px;
  --transition: 0.3s ease;
}

/* --- MAIN CSS --- */
body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

/* --- MOBILE RESPONSIVE --- */
@media screen and (max-width: 450px) {
  /* some class */
}
